<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link href="@Url.Content("~/styles/pacotes.css")" rel="stylesheet" />
</head>
<body>
    <header>

        <a href="#" class="logo">
            <img src="~/img/logo.png">
        </a>
        <div class="bx bx-menu" id="menu-icon"></div>
        <ul class="navbar">
            <li><a href="@Url.Action("Home", "Home")" class="home-active">Home</a></li>
            <li><a href="@Url.Action("Listar", "Filmes")">Pacotes</a></li>
            <li><a href="@Url.Action("Listar", "Filmes")">Agenda</a></li>
            <li><a href="@Url.Action("Listar", "Filmes")">Filmes</a></li>
            <!-- MENU TEMPORÁRIO -->
            <li id="MenuTemp">
                <a id="LinkMenuTemp" href="#sobrenos">Dashboards</a>
                <ol>
                    <li><a href="DashboardADM.html">ADM</a></li>
                    <li><a href="DashboardFuncionario.html">Funcionário</a></li>
                    <li><a href="#">Cliente</a></li>
                </ol>
            </li>
        </ul>

        <a href="#" class="btn">Entrar</a>

        </div>

    </header>

    <section>
        <h1>Pacotes Atuais</h1>
        <div id="endireitar_o_endireitar">
            <div id="endireitar">
                <div></div>
                <div class="wrapper">
                    <a href="#.html"><div class="botao"><p>10 por 120,00 R$</p><</div></a>
                    <a href="#.html"><div class="botao"><p>2 ingressos pelo valor de 4</p></div></a>
                    <a href="#.html"><div class="botao"><p>50 por 600,00 R$</p></div></a>
                    <a href="#.html"><div class="botao"><p>6 por 65,50 R$</p></div></a>
                    <a href="#.html"><div class="botao"><p>- - - - - - - - - -</p></div></a>
                    <a href="#.html"><div class="botao"><p>- - - - - - - - - -</p></div></a>
                    <a href="#.html"><div class="botao_vermelho"><p>Excluir</p></div></a>
                    <a href='@Url.Action("Cadastrar", "Pacotes")'><div class="botao_verde"><p>Adicionar +</p></div></a>
                </div>
                <div></div>
            </div>
        </div>
    </section>

    <footer>
        <div>
            <img id="loucura2" src="~/img/logomoviecat.png">
        </div>
        <div>
            <img id="loucura" src="~/img/replit-icon-seeklogo.com.svg">
            <img src="~/img/figma.png">
            <img src="~/img/github.png">
        </div>
    </footer>
</body>
</html>