@model IEnumerable<AgendMovies.Modelos.Pacotes>

@{ 
    var idSele = TempData["Id"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link href="@Url.Content("~/styles/pacotes.css")" rel="stylesheet" />
    @*<style>
        #modal
        {
            position: absolute;
            width: 100%;
            height: 15vh;
            left:0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(0, 148, 255);
            color: white;
        }

    </style>*@
</head>
<body>
    <header>
        <h1>
            <a href="@Url.Action("Home", "Home")">
                <img src="~/img/logo.png" alt="yy" />
            </a>
        </h1>
        <ol>
            <li><a href="@Url.Action("Home", "Home")">Home</a></li>
            <li><a href="@Url.Action("Listar", "Pacotes")">Pacotes</a></li>
            <li><a href="#">Agenda</a></li>
            <li><a href="@Url.Action("Listar", "Filmes")">Filmes</a></li>
        </ol>
        <div>
            <p><a href="#"><img src="~/img/funcionario_Mar.png" /></a></p>
            <p>Perfil</p>
        </div>
    </header>

    <section>
        @*@if (@TempData["Message"] != null)
        {
            <div id="modal">
             
                    @TempData["Message"]
              
                
            </div>
        }*@
        <h1>Pacotes Atuais</h1>
        <div id="endireitar_o_endireitar">
            <div id="endireitar">
                <div></div>
                <div class="wrapper">
                    @foreach (var p in Model)
                    {
                        if (idSele != null)
                        {
                            if (long.Parse(idSele.ToString()) == p.PacotesId)
                            {
                                <a href="@Url.Action("Selecionar", "Pacotes", new { id = p.PacotesId })"><div class="botao" style="background-color: rgb(0, 148, 255);"><p>@p.nome</p></div></a>
                            }
                            else
                            {
                                <a href="@Url.Action("Selecionar", "Pacotes", new { id = p.PacotesId })"><div class="botao"><p>@p.nome</p></div></a>
                            }
                        }
                        else
                        {
                            <a href="@Url.Action("Selecionar", "Pacotes", new { id = p.PacotesId })"><div class="botao"><p>@p.nome</p></div></a>
                        }


                    }
                    @for (int a = 0; a < 6 - ViewBag.Quant; a++)
                    {
                        <a href="#.html"><div class="botao"><p>- - - - - - - - - -</p></div></a>
                    }
                    <a href="@Url.Action("Delete", "Pacotes")"><div class="botao_vermelho"><p>Excluir</p></div></a>
                    <a href='@Url.Action("Cadastrar", "Pacotes")'><div class="botao_verde"><p>Adicionar +</p></div></a>
                </div>
                <div></div>
            </div>
        </div>
    </section>

    <footer>
        <img src="~/img/logoFooter.png" />
        <ol>
            <li><a href=#><img src="~/img/github.png" /></a></li>
            <li><a href=#><img src="~/img/facebook.png" /></a></li>
            <li><a href=#><img src="~/img/twitter.png" /></a></li>
        </ol>
    </footer>
</body>
</html>
