<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MAPA</title>
    <link href="@Url.Content("~/styles/mapa.css")" rel="stylesheet" />
</head>
<body>
    <div id="FCC">
        <ol>
            <a href='@Url.Action("Index", "Home")'>
            <li><p>Home</p></li></a>
            <a href='@Url.Action("AdmPage", "Adm")'>
            <li><p>ADM</p></li></a>

            <a href='@Url.Action("FuncionarioPage", "Funcionario")'>
                <li>
                    <p>DashboardFuncionario</p>
                </li>
            </a>
            <li><p>Funcionariopag01</p></li></a>
            <<a href='@Url.Action("Funcionario02", "Funcionario02")'><li><p>Funcionario02</p></li></a>
            <a href="funcionario03.html">
            <li><p>Funcionario03</p></li></a>
            <a href='@Url.Action("ListarFuncionarios", "ListarFuncionarios")'><li><p>Listar de Funcionarios</p></li></a>
            <a href="login.html">
            <li><p>Login</p></li></a>
            <a href='@Url.Action("ListarPacotes", "Pacotes")'>
            <li><p>Pacotes</p></li></a>
            <a href='@Url.Action("CadastrarPacotes", "CadastroDePacotes")'>
            <li><p>CadastroDePacotes</p></li></a>
        </ol>
    </div>

    <h1>Já já coloco mais</h1>
</body>
</html>