@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link href="@Url.Content("~/styles/DashboardaFuncionario_provisorio.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/styles/Principal.css")" rel="stylesheet" type="text/css" />
    <link rel="icon" href="~/img/Logo_aba.png" />
</head>
<body>
    <header>
        <h1>
            <a href="@Url.Action("Index", "Home")">
                <img src="~/img/logo.png" alt="yy" />
            </a>
        </h1>
        <ol>
            <li><a href="@Url.Action("Home", "Employees")">Home</a></li>
            <li><a href="@Url.Action("Listar", "Pacotes")">Pacotes</a></li>
            <li><a href="#">Agenda</a></li>
            <li><a href="@Url.Action("Listar", "Filmes")">Filmes</a></li>
        </ol>
        <div>
            <p><a href="#"><img src="~/img/funcionario_Mar.png" /></a></p>
            <p>Perfil</p>
        </div>
    </header>
    <!-- 246 -->

    <main>
        <h1>MEUS SERVIÇOS</h1>
        <section>
            <ol id="ccc">

                <a href="@Url.Action("Cadastrar", "Pacotes")">
                <li id="humli2">
                    <img src="~/img/cm03.png"><div>
                        <h1 id="hummm">
                            Cadastrar
                            Pacotes
                        </h1>
                    </div>
                </li></a>

            </ol>
        </section>
    </main>
    <footer>
        <img src="~/img/logoFooter.png" />
        <ol>
            <li><a href=#><img src="~/img/github.png" /></a></li>
            <li><a href=#><img src="~/img/facebook.png" /></a></li>
            <li><a href=#><img src="~/img/twitter.png" /></a></li>
        </ol>
    </footer>
</body>
</html>
