@model IEnumerable<AgendMovies.Modelos.VerPerfilView>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="~/styles/DashboardPrincipal.css">
    <link href="~/styles/ListarPacotes.css" rel="stylesheet" />
    <link rel="icon" href="img/Logo_aba.png" />
    <script src="~/script/beattlejuice.js"></script>
</head>
<body>
    <header>
        <a href="@Url.Action("Index", "Home")" class="logo">
            <img src="~/img/logo.png">
        </a>
        <div class="bx bx-menu" id="menu-icon"></div>
        <ul class="navbar">
            <li><a href="index.html">Home</a></li>
            <li><a href="@Url.Action("Visualizar", "Pacotes")">Pacotes</a></li>
            <li><a href="@Url.Action("VerPacotesComprados", "Employees")">Pacotes comprados</a></li>
            <li><a href="#">Sobre Nós</a></li>
        </ul>
        <div id=md>
            <a href="#.html"><p><img src="~/img/funcionario_Mar.png"></p></a>
            <p id="per">Perfil</p>
        </div>
    </header>
    <!-- 246 -->
    <main>
        <div id="uni">
            <h1 id="h11">PACOTES COMPRADOS NO SISTEMA</h1>
        </div>

        <div id="org">
            <ol id="ol1">
                @foreach (var item in Model)
                {
                    <li>
                        <h1 id="pequena">@item.Pacote.nome</h1><div>
                            <ol class="botoes">
                                <a href="@Url.Action("VerPacoteComprado", "Employees", new { id = item.Compra.CompraId})">
                                <li><img src="~/img/oljo.png"></li>
                                <p>Ver </p></a>
                                <a href="#">
                                <li><img src="~/img/lixo.png"></li>
                                <p>Excluir</p></a>
                            </ol>
                        </div>
                    </li>
                }


                </ol>
        </div>



    </main>

    <footer>
        <div>
            <img  src="~/img/footerMovieCat.png" style="width: 180px; height: 80px;">
        </div>
        <div>
            <img id="loucura" src="~/img/replitIcon.png">
            <img src="~/img/figmaIcon.png">
            <img src="~/img/githubIcon.png">
        </div>
    </footer>
</body>
</html>
