@model AgendMovies.Modelos.VerPerfilView

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="~/styles/DashboardPrincipal.css">
    <link href="~/styles/VerPacote.css" rel="stylesheet" />
    <link rel="icon" href="~/img/Logo_aba.png" />
    <script src="beattlejuice.js"></script>
    <style>
        #AreaComprador{
            color: white;
            display: flex;
        }
        .Negrito{
            font-weight:bold;
            margin-left: 10px;
        }
        .BordaBaixa{
            border-bottom: 1px solid white;
            width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <a href="@Url.Action("Index", "Home")" class="logo">
            <img src="~/img/logo.png">
        </a>
        <div class="bx bx-menu" id="menu-icon"></div>
        <ul class="navbar">
            <li><a href="index.html">Home</a></li>
            <li><a href="@Url.Action("Visualizar", "Pacotes")">Pacotes</a></li>
            <li><a href="@Url.Action("VerPacotesComprados", "Employees")">Pacotes comprados</a></li>
            <li><a href="#">Sobre Nós</a></li>
        </ul>
        <div id=md>
            <a href="#.html"><p><img src="~/img/funcionario_Mar.png"></p></a>
            <p id="per">Perfil</p>
        </div>
    </header>
    <!-- 246 -->
    <main>
        <section>


            <div id="organ"><img id="olho" src="~/img/oljo.png"><h1>ver pacote comprado</h1></div>
            <div id="AreaComprador">
                <p>Comprador: </p><p class="Negrito">@Model.Cliente.Nome</p>
            </div>
            <div id="borda">
                <ol>
                    <li id="li1"><p>Nome:</p><p class="BordaBaixa">@Model.Pacote.nome</p></li>
                    <li id="li2"><p>Ingressos:</p><p class="BordaBaixa">@Model.Pacote.ingressos</p></li>
                    <li id="li3"><p>Valor:</p><p class="BordaBaixa">@Model.Pacote.valor</p></li>
                </ol>
                <!--<div id="b">
                <button>Cadastrar</button>
                </div>-->
            </div>

        </section>
    </main>

    <footer>
        <div>
            <img src="~/img/footerMovieCat.png" style="width: 180px; height: 80px;">
        </div>
        <div>
            <img id="loucura" src="~/img/replitIcon.png">
            <img src="~/img/figmaIcon.png">
            <img src="~/img/githubIcon.png">
        </div>
    </footer>
</body>
</html>

