@model AgendMovies.Modelos.Filme

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="@Url.Content("~/styles/DashboardPrincipal.css")">
    <link href="@Url.Content("~/styles/CadastrarFilmes.css")" rel="stylesheet" />
    <link rel="icon" href="~/img/Logo_aba.png" />
    <script src="beattlejuice.js"></script>
    <script>
        function AtualizarImg(doc, input) {
            var Img = document.getElementById(doc);
            var Inp = document.getElementById(input);

            Inp.addEventListener("change", function (evento) {


                const Arquivo = evento.target.files[0];
                if (Arquivo) {
                    const LeitorDeArquivo = new FileReader();
                    LeitorDeArquivo.onload = function (e) {
                        Img.setAttribute('src', e.target.result);
                    };
                    LeitorDeArquivo.readAsDataURL(Arquivo);
                }
            });
            Inp.click();
        }
    </script>
    <style>
        .FotoPerfilHeader {
            width: 62px;
            height: 62px;
            border-radius: 100%;
        }

        header > div > p {
            color: black !important;
        }

    .Esconde{
    display: none;
    }
    input{
    color: white;
    }
    </style>
</head>
<body>
    <header>
        <a href="@Url.Action("Index", "Home")" class="logo">
            <img src="~/img/logo.png">
        </a>
        <div class="bx bx-menu" id="menu-icon"></div>
        <ul class="navbar">
            <li><a href="@Url.Action("Home", "Adm")">Home</a></li>
            <li><a href="@Url.Action("Listar", "Filmes")">Filmes</a></li>
            <li><a href="@Url.Action("Listar", "Sessao")">Sessões</a></li>
            <li><a href="@Url.Action("Listar", "Employees")">Funcionários</a></li>
        </ul>
        <div id=md>
            <a href="#.html">
                <p>
             
                        <img class="FotoPerfilHeader" src="~/img/PerfilSemFoto.png">
                    
                  

                </p>
            </a>
            <p id="per">Adm</p>
        </div>
    </header>
    <!-- 246 -->

        <main>
   


                    <section id="primeira_section">
                       

                        <div id="info_do_filme">
                            <div id="local_da_img" onclick="AtualizarImg('CapaFilme', 'InputImg')">
                                @if (Model.ConteudoDaFoto == null)
                                {
                                    <img id="CapaFilme" src="~/img/select_film.png" width="400px">
                                }
                                else
                                {
                                    <img id="CapaFilme" src="@Url.Action("GetLogoTipo", "Filmes", new { id = Model.FilmeId })" width="400px">
                                }
                            </div>
                            <div id="info">
                                <div id="info_nome">
                                    <h1>@Model.Nome</h1>
                                    <p>@Model.Duracao min | @Model.Genero </p>
                                </div>
                                <div id="idade">
                                    @{
                                        var classi = "ci" + Model.Indicativa + ".png";
                                    }
                                    <img src="~/img/@classi">
                                </div>
                            </div>
                        </div>
                        @using (Html.BeginForm("Editar", "Filmes", FormMethod.Post, new { enctype = "multipart/form-data", @class = "disp_para_a_sinopse_e_img" }))
                        {
                            @Html.HiddenFor(model => model.FilmeId)
                            @Html.HiddenFor(model => model.ConteudoDaFoto)
                            @Html.HiddenFor(model => model.TipoDaFoto)

                            <div class="EditarFilme">
                                <div><img src="~/img/pen.png"></div>
                                <h1 >Edição de filme:</h1>
                            </div>



                            @Html.TextBox("arquivo", "", new { type = "file", id = "InputImg", @class = "Esconde" })
                            <div>
                                <label for="NomeFilme"><p>Nome do filme:</p></label>
                                @Html.TextBoxFor(model => model.Nome, new { type = "text", required = "required", id = "NomeFilme" })
                            </div>
                            <div>
                                <label for="id do filme"><p>Id do filme:</p></label>
                                @Html.TextBoxFor(model => model.FilmeId, new { type = "text", required = "required", id = "id do filme" })
                            </div>
                            <div>
                                <label for="distribuidora"><p>Distribuidora:</p></label>
                                @Html.TextBoxFor(model => model.Distribuidora, new { type = "text", required = "required", id = "distribuidora" })
                            </div>
                            <div id="org">
                                @{
                                    var gens = new List<SelectListItem>
                                                                                                        {
                                new SelectListItem { Value = "Em Cartaz", Text = "Em Cartaz" },
                                new SelectListItem { Value = "Em Breve", Text = "Em Breve" },
                                new SelectListItem { Value = "Filmes em Estreia", Text = "Filmes em Estreia" },

                            };
                                }

                                <div>
                                    <label id="coloco_um_nome_legal_depois">
                                        <p>Genero</p>
                                        @Html.TextBoxFor(model => model.Genero, new { type = "text", required = "required", id = "coloco_um_nome_legal_depois" })
                                    </label>
                                </div>


                                <div id="cat">
                                    <label for="Categoria" id="cat_go"><p>Categoria:</p></label>
                                    @Html.DropDownListFor(model => model.Categoria, gens, new { required = "required", id = "Categoria" })
                                </div>

                            </div>
                            <div>
                                <label for="tentacles"><p>Duração:</p></label>
                                @Html.TextBoxFor(model => model.Duracao, new { type = "number", required = "required", id = "tentacles", min = "1", max = "500" })
                                @{
                                    var inds = new List<SelectListItem>
                                                                                                                                            {
                                new SelectListItem { Value = "Livre", Text = "Livre" },
                                new SelectListItem { Value = "10", Text = "10" },
                                new SelectListItem { Value = "12", Text = "12" },
                                new SelectListItem { Value = "14", Text = "14" },
                                new SelectListItem { Value = "16", Text = "16" },
                                new SelectListItem { Value = "18", Text = "18" }
                            };
                                }
                                <label for="Indicativa" id="label_classificacao"><p>Classificação indicativa:</p></label>
                                @Html.DropDownListFor(model => model.Indicativa, inds, new { required = "required", id = "Indicativa" })
                            </div>
                            <div>
                                <label for="Sinopse"><p>Sinopse:</p></label>
                                @Html.TextAreaFor(model => model.Sinopse, new { maxlength = 820, id = "Sinopse" })
                            </div>
                            <input class="Adicionar" type="submit" value="Atualizar" />



                        }
                    </section>
                


        </main>
    <footer>
        <div>
            <img src="~/img/footerMovieCat.png" style="width: 180px; height: 80px;">
        </div>
        <div>
            <img id="loucura" src="~/img/replitIcon.png">
            <img src="~/img/figmaIcon.png">
            <img src="~/img/githubIcon.png">
        </div>
    </footer>
</body>
</html>